{% load static %} 

<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        {% comment %} <li><a href="https://www.facebook.com/DevQuams" target="_blank"><img src='{% static "images/fb.svg" %}' alt="..." ></a></li> {% endcomment %}
        {% comment %} <li><a href="https://www.instagram.com/DevQuams" target="_blank"><img src='{% static "images/insta.svg" %}' alt="..."></a></li> {% endcomment %}
        <li><a href="https://www.twitter.com/devquams" target="_blank"><img src='{% static "images/twitter.svg" %}' alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/abdulraheem-quwam-b108b322b/" target="_blank"><img src='{% static "images/linkedin.svg" %}' alt="..."></a></li>
        <li><a href="https://www.github.com/dev-abdulraheem" target="_blank"><img src='{% static "images/github.png" %}' alt="..." ></a></li>
        </ul>
        
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://www.twitter.com/devquams" target="_blank">DevQuams</a></p>
        </div>
    </div>
    
    </div>
</footer>
<!-- ================================
End Footer
================================= -->
